.Contact_Form{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    text-align: center;
}

input[type=text],[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

@media (min-width: 600px){
    .Contact_Form{
        width: 500px;
    }
}